.obpress-hotels-holder {
  background-color: #f3f3f3;
  font-family: "Montserrat", Sans-serif;
}

.obpress-hotels-title p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 12px;
  margin-top: 0px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.obpress-hotels-title h3 {
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
  margin-top: 0px;
  padding-bottom: 73px;
  margin-bottom: 0px;
}

.obpress-hotels-title p,
.obpress-hotels-title h3 {
  text-align: center;
}

.obpress-hotels-widget-holder {
  display: flex;
  max-width: 1254px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 516px;
}

.obpress-hotel-widget-gallery {
  max-width: 615px;
  position: relative;
  height: 514px;
}

.obpress-hotels-widget-info {
  justify-content: space-between;
  max-width: 622px;
  background-color: #fff;
  margin-right: 9px;
  display: flex;
  flex-direction: column;
  padding: 86px 100px 53px 100px;
  box-shadow: 0px 14px 24px #bead8e33;
}

.obpress-hotels-widget-info-holder {
  display: flex;
  flex-direction: column;
}

.obpress-hotels-widget-info h3 {
  margin-top: 0px;
  margin-bottom: 53px;
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

.obpress-hotels-widget-info p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 72px;
  line-height: 24px;
  text-align: center;
}

.obpress-hotels-widget-button {
  background-color: #000000;
  border-width: 1px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2.8px;
  color: #fff;
  font-family: "Montserrat";
  /* margin-left: auto;
  margin-right: auto; */
  padding: 16px 65px;
  margin-bottom: 22px;
  box-shadow: 0px 14px 34px #bead8e33;
  width: fit-content;
  align-self: center;
}

.obpress-hotels-widget-button:hover {
  cursor: pointer;
}

.obpress-hotels-link {
  text-align: center;
  text-decoration: underline !important;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.obpress-hotels-link:hover {
  color: #4b8cf4;
}

.obpress-hotels-swiper {
    height: 100%;
}

.obpress-hotels-swiper-image {
  width: 303px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 
.obpress-hotel-swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.obpress-hotel-widget-gallery .swiper-wrapper {
    align-items: center;
}

.obpress-hotel-widget-gallery.flex-wrap .swiper-wrapper {
  flex-wrap: wrap;
  align-items: flex-start;
  height: unset;
}

.obpress-hotels-swiper .swiper-slide {
  height: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}

.flex-wrap .obpress-hotels-swiper .swiper-slide {
  width: 303px;
  margin-bottom: 9px;
}

.flex-wrap .obpress-hotels-swiper .swiper-slide:nth-child(odd) {
  margin-right: 9px;
}

.flex-wrap .obpress-hotels-swiper .swiper-slide:last-child, 
.flex-wrap .obpress-hotels-swiper .swiper-slide:nth-last-child(2) {
  margin-bottom: 0px;
} 

.obpress-hotels-swiper .swiper-slide:nth-child(3n + 2),
.obpress-hotels-swiper .swiper-slide:nth-child(3n + 3) {
  margin-top: 0px!important;
}

.obpress-hotels-swiper .obpress-swiper-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.38);
    display: flex;
    align-items: center;
    justify-content: center;    
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    opacity: 1;
}

.obpress-hotels-swiper .obpress-swiper-overlay:hover {
    cursor: pointer;
}

.obpress-hotels-swiper .obpress-overlay-selected {
    opacity: 0;
}

/* .obpress-overlay-not-selected {
    opacity: 1!important;
}  */


/* .obpress-hotels-swiper .swiper-wrapper .swiper-slide:first-child .obpress-swiper-overlay {
    opacity: 0;
} */

.obpress-hotels-swiper .obpress-swiper-overlay h4 {
    color: #fff;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3.2px;
    line-height: 24px;
    text-align: center;
}

.obpress-hotel-widget-gallery.flex-wrap .obpress-hotels-swiper-nav {
  display: none;
}

.obpress-hotels-swiper-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: -55px;
}

.obpress-hotels-swiper-nav .swiper-button-prev,
.obpress-hotels-swiper-nav .swiper-pagination,
.obpress-hotels-swiper-nav .swiper-button-next {
  position: static;
}

.obpress-hotels-swiper-nav .swiper-button-prev,
.obpress-hotels-swiper-nav .swiper-button-next {
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-top: 0px;    
}

.obpress-hotels-swiper-nav .swiper-button-prev::after, 
.obpress-hotels-swiper-nav .swiper-button-next::after {
  content: unset;
}

.obpress-hotels-swiper-nav .swiper-button-prev {
    background-image: url(../icons/prev.svg);
    margin-right: 80px;    
}

.obpress-hotels-swiper-nav .swiper-button-next {
    background-image: url(../icons/next.svg);
    margin-left: 80px;
}

.obpress-hotels-swiper-nav .swiper-pagination-bullet {
    margin-right: 10px;   
    background-color: #000000; 
    height: 8px;
}

.obpress-hotels-swiper-lines .swiper-pagination-bullet {
  border-radius: 0px;
  width: 20px;
}

.obpress-hotels-swiper-lines .swiper-pagination-bullet-active {
  width: 30px;
  background-color: #000000;
}

.obpress-swiper-pagination-disabled {
  display: none!important;
}

.obpress-hotels-swiper-nav .swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.ob-mob-hotels-holder {
  display: none;
}

@media (max-width: 1279px) {

  .obpress-hotels-holder {
    display: none;
  }

  .ob-mob-hotels-holder {
    display: block;
  }


  .ob-mob-hotels-slide {
    position: relative;
    height: 382px;
  }

  .ob-mob-hotels-swiper-image{
    height: 100%;
    background-size: cover;
  }

  .ob-mob-hotels-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.38);
    padding: 30px 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ob-mob-hotels-overlay h4 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.48px;
    margin-bottom: 17px;
    color: #fff;
    text-align: center;
    margin-top: 0px;
  }

  .ob-mob-hotels-overlay p {
    font-size: 12px;
    color: #FFF;
    line-height: 22px; 
    text-align: center;
    margin-top: 0px;
    margin-bottom: 7px;
  }

  .ob-mob-hotels-overlay button {
    padding: 7px 36px;
    background-color: #000000;
    color: #fff;
    border-width: 0px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .ob-mob-hotels-overlay a {
    color: #fff;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
  }

  .obpress-hotels-swiper-nav {
    /* bottom: 0px; */
    position: static;
    margin-top: 20px;
  }

  .obpress-hotels-swiper-nav .swiper-button-prev, .obpress-hotels-swiper-nav .swiper-button-next {
    width: 25px;
    height: 25px;
  }

}